WebServer/build/
WebServer/dist/
WebServer/node_modules/
WebServer/package-lock.json
WebServer/public/data/
WebServer/public/previews/

ComputeNode/files/data/
ComputeNode/files/semantics/
ComputeNode/files/study/
ComputeNode/files/data/
ComputeNode/env/

SignalingServer/env/


__pycache__/
__MACOSX/
