<!DOCTYPE html>
<html>
    <head>
        <title>ColorTransferLabV2 - Signaling Server</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.js"></script>
        <script type="text/javascript">
            document.addEventListener("DOMContentLoaded", function() {
                var socket = io();

                function updateUptime() {
                    var rows = document.querySelectorAll('#clientsTable tbody tr');
                    rows.forEach(function(row) {
                        var registerTime = row.getAttribute('data-register-time');
                        var uptimeCell = row.querySelector('.uptime');
                        var diff = Math.floor(Date.now() / 1000) - registerTime;
                        var days = Math.floor(diff / 86400).toString().padStart(2, '0');
                        var hours = Math.floor((diff % 86400) / 3600).toString().padStart(2, '0');
                        var minutes = Math.floor((diff % 3600) / 60).toString().padStart(2, '0');
                        var seconds = Math.round(diff % 60).toString().padStart(2, '0');
                        uptimeCell.textContent = days + "d " + hours + "h " + minutes + "m " + seconds + "s";
                    });
                }

                socket.on('update_clients', function(clients) {
                    var tbody = document.querySelector('#clientsTable tbody');
                    tbody.innerHTML = '';
                    for (var cid in clients) {
                        var client = clients[cid];
                        var connected_clients = client.connected_clients
                        var connected_participants = client.connected_participants
                        var connected_compute_node = client.connected_compute_node
                        var row = document.createElement('tr');
                        row.setAttribute('data-register-time', client.register_time);
                        var id_out = "";
                        var id_clients = "";
                        var id_participants = "";
                        for (var cl of connected_clients) {
                            id_clients += cl + "<br>";
                        }
                        for (var pa of connected_participants) {
                            id_participants += pa + "<br>";
                        }
                        if(client.type === "Client") {
                            id_out = "<b>Client: " + cid + "</b><br>ComputeNode: " + connected_compute_node;
                        } else if(client.type === "Participant") {
                            id_out = "<b>Participant: " + cid + "</b><br>ComputeNode: " + connected_compute_node;
                        } else if (client.type === "ComputeNode") {
                            id_out = "<b>ComputeNode: " + cid + "</b><br>Clients:<br>" + id_clients + "Participants:<br>" + id_participants;
                        } else {
                            id_out = cid;
                        }
                        row.innerHTML = `
                            <td>${client.name}</td>
                            <td>${id_out}</td>
                            <td>${client.ip_address}</td>
                            <td>${client.country}</td>
                            <td class="uptime">00d 00h 00m 00s</td>
                            <td><span class="type-box type-${client.type}"><b>${client.type}</b></span></td>
                            <td><span class="status-box status-${client.status}"><b>${client.status}</b></span></td>
                        `;
                        tbody.appendChild(row);
                    }
                    updateUptime();
                });

                // Update uptime every second
                setInterval(updateUptime, 1000);
            });
        </script>
    </head>
    <body>
        <h1>ColorTransferLab - Signaling Server</h1>
        <table id="clientsTable">
            <thead>
                <tr>
                    <th onclick="sortTable(0)">Name</th>
                    <th onclick="sortTable(1)">ID</th>
                    <th onclick="sortTable(2)">IP-Address</th>
                    <th onclick="sortTable(3)">Country</th>
                    <th onclick="sortTable(4)">Uptime</th>
                    <th onclick="sortTable(5)">Type</th>
                    <th onclick="sortTable(6)">Status</th>
                </tr>
            </thead>
            <tbody>
                {% for cid, client in clients.items() %}
                    <tr data-register-time="{{ client.register_time }}">
                        <td>{{ client.name }}</td>
                        <td>
                            {% if client.type == "Client" %}
                                <b>Client: {{ cid }}</b><br>
                                ComputeNode: {{ client.connected_compute_node }}
                            {% elif client.type == "Participant" %}
                                <b>Participant: {{ cid }}</b><br>
                                ComputeNode: {{ client.connected_compute_node }}
                            {% elif client.type == "ComputeNode" %}
                                <b>ComputeNode: {{ cid }}</b><br>
                                Clients:<br>
                                {% for cl in client.connected_clients %}
                                    {{ cl }}<br>
                                {% endfor %}
                                Participants:<br>
                                {% for pa in client.connected_participants %}
                                    {{ pa }}<br>
                                {% endfor %}
                            {% else %}
                                {{ cid }}
                            {% endif %}
                        </td>
                        <td>{{ client.ip_address }}</td>
                        <td>{{ client.country }}</td>
                        <td class="uptime">
                            <script>
                            var diff = Math.floor(Date.now() / 1000) - {{ client.register_time }};
                            var days = Math.floor(diff / 86400).toString().padStart(2, '0');
                            var hours = Math.floor((diff % 86400) / 3600).toString().padStart(2, '0');
                            var minutes = Math.floor((diff % 3600) / 60).toString().padStart(2, '0');
                            var seconds = Math.round(diff % 60).toString().padStart(2, '0');
                            document.write(days + "d " + hours + "h " + minutes + "m " + seconds + "s");
                            </script>
                        </td>
                        <td><span class="type-box type-{{ client.type }}"><b>{{ client.type }}</b></span></td>
                        <td><span class="status-box status-{{ client.status }}"><b>{{ client.status }}</b></span></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <script src="{{ url_for('static', filename='scripts.js') }}"></script>
    </body>
</html>