@import 'settings/Global.scss';

.server_info {
    color: green;
}

.server_warning {
    color: yellow;
}

.server_error {
    color: red;
}

.server_undefined {
    color: purple;
}


#error_message {
    text-align: center;
    font-size: 30px;
    vertical-align: middle;
    display: table-cell;
    width: calc(#{$window_width} - 106px);
    height: calc(#{$window_height} - 106px);
    padding: 50px;
    border: 3px dashed #1c87c9;
}

#mainbody {
    width: $window_width;
    height: $window_height;
    background-color: $grey;
    color: $lightgrey;
}

#landscapeOverlay {
    position: absolute;
    top: 50px;
    width: 100%;
    height: calc(100% - 100px) ;
    background-color: black;
    z-index: 9999999999999;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold; // Make the text bold
    font-size: 2em;
    font-family: 'Courier New', monospace;

    //display: none;
}