@import 'settings/Global.scss';

.renderer_image{
    position: absolute;
    visibility: hidden;
    background-color: black;
    width: 100%;
    top: 25px;
    height: calc(#{100%} - 25px);
    // z-index: 998;
}

.renderer_image_inner {
    width: 100%;
    height: 100%;
    object-fit: contain;
    // transition: transform 0.25s ease; /* Für sanfte Übergänge */
    // cursor: grab;
}

// .renderer_image_inner:active {
//     cursor: grabbing; /* Zeigt an, dass das Bild gegriffen wird */
//   }

.zoom-container {
    overflow: hidden; /* Verhindert das Überlaufen des Bildes */
    position: relative;
    width: 100%;
    height: 100%;
  }
  
// .zoom-container img {
//     cursor: zoom-in; /* Zeigt an, dass das Bild zoombar ist */
// }

// .zoom-container.zoomed img {
//     cursor: zoom-out; /* Zeigt an, dass das Bild herausgezoomt werden kann */
// }

.ir_button_settings{
    position: absolute;
    width: 15px;
    padding: 5px;
    height: 15px;
    z-index: 999;
    right: 0px;
    top: -25px;
}

.ir_button_infos{
    position: absolute;
    width: 15px;
    padding: 5px;
    height: 15px;
    z-index: 999;
    right: 20px;
    top: -25px;
}

.ir_field_settings{
    background-color: $darkgrey;
    opacity: 0.9;
    position: absolute;
    bottom: 0px;
    width: 100%;
    //padding: 5px;
    //height: 100%;
    z-index: 99999;
}

.ir_field_infos{
    background-color: $darkgrey;
    opacity: 0.9;
    position: absolute;
    width: calc(100% - 10px);
    top: 0px;
    padding: 5px;
    height: calc(100% - 10px);
    z-index: 99999;
    display: flex;
    align-items: flex-end;
}

.ir_field_settings_table_cell{
    width: 50%;
    border: 1px solid rgba(255, 255, 255, 0.106);
}

.ir_button_settings_texture_icon{
    height: 100%;
}

.ir_button_settings_texture_icon:hover{
    filter: brightness(1.5);
}

.ir_button_infos_texture_icon{
    height: 100%;
}

.ir_button_infos_texture_icon:hover{
    filter: brightness(1.5);
}