.loading-view{
    position: absolute;
    justify-content: center;
    background-color: black;
    align-items: center;
    height: 100%;
    width: 100%;
    display: none;
}

.loading-view-icon{
    position: absolute;
    display: flex;
    justify-content: center;
    object-fit: contain;
    background-color: black;
    align-items: center;
    height: 100%;
    width: 100%;
}